<br />
<br />
<partial name="_Entrada" />
<br />
<br />
<div class="p-3 mb-2 bg-primary text-secondary">
  <h5> <a class="nav-link text-dark" asp-area="" asp-controller="Ventas" asp-action="Ver">Resultados</a></h5>
</div>
<br />
<br />
<div class="p-3 mb-2 bg-danger text-secondary">
  <h5><a class="nav-link text-dark" asp-area="" asp-controller="Ventas" asp-action="Registrar">Registrar Venta</a></h5>
</div>